/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.glegoo-regular {
  font-family: "Glegoo", serif;
  font-weight: 400;
  font-style: normal;
}

.glegoo-bold {
  font-family: "Glegoo", serif;
  font-weight: 700;
  font-style: normal;
}